@model btap.Models.thongtinkhachhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}



<div style="margin-left:15px">
    <h4>Chi tiết thông tin khách hàng</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:20px">
        <dt>
            Mã khách hàng:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.makhachhang)
        </dd>
        <dt>
           Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenkhachhang)
        </dd>

        <dt>
           Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

    </dl>
</div>
<style>
    dd{
        margin-left: 130px;
        margin-top:-23px;
    }
</style>
<p style="margin-left:20px">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.makhachhang }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
