@model IEnumerable<btap.Models.thongtinkhachhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<h2 style="margin-left:15px">Danh sách khách hàng</h2>

<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenkhachhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.makhachhang }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.makhachhang }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.makhachhang })
        </td>
    </tr>
}

</table>
