@model btap.Models.thongtinmathang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<h2><a style="text-decoration:none" href="~Admin/Homeadmin/Index"><p class="p1">Trang chủ</p></a></h2>

@using (Html.BeginForm("Create", "thongtinmathangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thêm mặt hàng:</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Mã mặt hàng:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mamathang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mamathang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tên mặt hàng:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenmathang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenmathang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Màn hình:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.manhinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.manhinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hệ điều hành:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.hedieuhanh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hedieuhanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Chip:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.chip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.chip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Camera:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.camera, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.camera, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Pin:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.pin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Ảnh:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.anh, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
            @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">RAM</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Bộ nhớ trong:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.bonhotrong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bonhotrong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Công nghệ màn hình:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.cnmanhinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cnmanhinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Năm ra mắt:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.namramat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.namramat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Giá:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Mã hãng sản xuất:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mahangsanxuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mahangsanxuat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tình trạng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tinhtrang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tinhtrang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>
