@model btap.Models.thongtinmathang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<h2>Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.mamathang)

    <div class="form-group">
        <p>Mã mặt hàng</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mamathang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mamathang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Tên mặt hàng</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenmathang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenmathang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Màn hình</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.manhinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.manhinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Hệ điều hành</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.hedieuhanh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hedieuhanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Chip</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.chip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.chip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Camera</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.camera, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.camera, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Pin</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.pin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Ảnh</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.anh, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
            @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>RAM</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Bộ nhớ trong</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.bonhotrong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bonhotrong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Công nghệ màn hình</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.cnmanhinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cnmanhinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>năm ra mắt</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.namramat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.namramat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Giá</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Mã hãng sản xuất</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mahangsanxuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mahangsanxuat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>Tình trạng</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tinhtrang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tinhtrang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<style>
    p {
        margin-left: 15px;
    }
</style>
<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>
